
body{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}

.title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-60%);
    width: 550px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(176,176,212,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 50px;
    height: 100px;
    text-align: center;
    border: 5px solid black;
}

.title h1{
    text-align: center;
    padding: 0 0 0px 0;
    font-size: 45px;
    margin: 25px;
}

.choose{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1100px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(233,233,242,1) 0%, rgba(114,222,249,1) 94%, rgba(0,212,255,1));
    border-radius: 10px;
    height: 350px;
    border: 5px solid black;
}

.choose h1{
    text-align: center;
    padding: 0 0 10px 0;
}

.choose label{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left:26px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 20px;
    width:1050px;
    display:inline-block;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.btn1{
    position: absolute;
    top: 78%;
    left: 20%;
    width: 100px;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn2{
    position: absolute;
    top: 78%;
    left: 75%;
    width: 100px;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn:hover{
    border-color: #2691d9;
    transition: .5s;
    background: #8e44ad;
}