body{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    height: 100vh;
    overflow: hidden;
}


.search{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(233,233,242,1) 0%, rgba(114,222,249,1) 94%, rgba(0,212,255,1));
    border-radius: 10px;
    height: 150px;
    border: 5px solid black;
}

.search h1{
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 3px solid black;
}

.search form{
    padding: 0 50px;
    box-sizing: border-box;
}

form .text-field{
    display : inline-block;
    position: relative;
    border-bottom: 2px solid black;
    margin: 0px 25px;
}


.text-field input{
    width: 350px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: black;
    background: none;
    outline: none;
}

.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    /*color: #adadad;*/
    color:black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label{
    top: -7px;
    color: #2691d9;
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span:before{
    width: 100%;

}

.title{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-60%);
    width: 550px;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(176,176,212,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 50px;
    height: 100px;
    text-align: center;
    border: 5px solid black;

}

.title h1{
    text-align: center;
    padding: 0 0 0px 0;
    font-size: 45px;
    margin: 25px;
}

.btn{
    position: absolute;
    top: 55%;
    left: 88%;
    width: 100px;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn:hover{
    border-color: #2691d9;
    transition: .5s;
    background: #8e44ad;
}

.mapouter{
    position: absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 5px solid black;

}