<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manage database</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>

<div class="center3">
    <h1>Remove a flight</h1>
    <form name="f" th:action="@{/process_flight_delete}">

        <div class="text-field">
            <input type="number" th:name="id" maxlength="10" required/>
            <span></span>
            <label> Insert the flight ID</label>
        </div>

        <div class="from-actions">
            <button type="submit" class="btn">Delete</button>
        </div>

    </form>
</div>

</body>
</html>