<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Manage database</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>

<div class="center1">
    <h1>Add a new flight</h1>
    <form name="f" th:action="@{/process_flight_insert}"
          th:object="${zbor}" method="post">

        <div class="text-field">
            <input type="number" th:field="*{idAeroportPlecare}" class="form-control"
                   required maxlength="5"/>
            <span></span>
            <label> Departure Airport ID</label>

        </div>
        <div class="text-field">
            <input type="number" th:field="*{idAeroportSosire}" class="form-control"
                   required maxlength="5"/>
            <span></span>
            <label> Arrival Airport ID</label>
        </div>
        <div class="text-field">
            <input type="text" th:field="*{oraPlecare}" class="form-control"
                   required minlength="1" maxlength="10"
                   pattern="^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$"/>
            <span></span>
            <label> Departure Time</label>
        </div>
        <div class="text-field">
            <input type="number" th:field="*{durataOre}" class="form-control"
                   required maxlength="2"/>
            <span></span>
            <label> Hours</label>
        </div>
        <div class="text-field">
            <input type="number" th:field="*{durataMin}" class="form-control"
                   required maxlength="2" max="59"/>
            <span></span>
            <label> Minutes</label>
        </div>
        <div class="text-field">
            <input type="number" th:field="*{pret}" class="form-control"
                   required minlength="1" maxlength="10"/>
            <span></span>
            <label> Price</label>
        </div>
        <div class="text-field">
            <input type="text" th:field="*{companie}" class="form-control"
                   required minlength="1" maxlength="20"/>
            <span></span>
            <label> Company</label>
        </div>

        <div class="from-actions">
            <button type="submit" class="btn">Add</button>
        </div>

        <div>
            <h5>Please use the following format for the departure time: 12:00:00</h5>
        </div>

    </form>
</div>

</body>
</html>