<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>


    <link rel="stylesheet" href="indexNewStyle.css">

</head>
<body>
<header>
    <h1 class="logo">Flights Ticket Project User</h1>
    <nav>
        <ul class="nav_links">
            <li><a href="/search">Search</a></li>
            <li><a href="#">Op2</a></li>
            <li><a href="#">Op3</a></li>
            <li><a href="#">Op4</a></li>
            <li><form th:action="@{/logout}" method="post">
                <input class="logoutBtn" type="submit" value="Sign Out" />
            </form></li>
        </ul>
    </nav>
    <a class="cta" href="/"><button>Home</button></a>
</header>


</body>
</html>